<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>New Project</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action="/result" method="post">
						<label for="originalWord">Original Word</label>
						<input type="text" name="originalWord" placeholder="Original Word">
						<label for="potentialAnagrams">Potential Anagrams</label>
						<input type="text" name="anagram1" placeholder="Potential Anagram #1">
						<input type="text" name="anagram2" placeholder="Potential Anagram #2">
						<input type="text" name="anagram3" placeholder="Potential Anagram #3">
						<button type="submit">Check For Anagrams</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
