body {
  background-color: maroon;
  color: white;
}

.jumbotron {
  color: maroon;
}

input {
  color: black;
}

a {
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: yellow;
  color: maroon;
  padding: 5px;
}

ul{
  margin-bottom: 400px;
}

a:hover {
  color: lightblue;
  background-color: blue;
  text-decoration: none;
}
.divs {
  background-color: maroon;
}
